@use "../Color";

.Artist {
  &__link {
    color: rgba(#fff, .5);
    font-style: italic;
    text-decoration: none;

    &:hover {
      color: Color.$primary;
    }
  }

  &__coma {
    color: rgba(#fff, .5);
    font-style: italic;
  }
}
