@use "../Color";
@use "sass:color";

.List {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__collaborativeIcon {
    font-size: .8rem;
    margin-right: 5px;
  }

  &__icon {
    margin-right: 7px;
    opacity: .3;
    position: relative;
    top: 3px;
  }

  &__link {
    color: Color.$font;
    cursor: pointer;
    flex: 1;
    padding: 3px;
    text-decoration: none;
  }

  &__item {
    align-items: baseline;
    border-radius: 3px;
    display: block;
    display: flex;
    padding-left: 15px;

    &:hover {
      color: #fff;
    }

    &.active {
      color: Color.$primary;
    }
  }
}
