@use "../Color";
@use "sass:color";

@keyframes bounce {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

.Pocket {
  $radius: 5px;
  animation: bounce .2s ease 0s forwards alternate;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, .3);
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 999;

  &__head {
    background-color: Color.$primary;
    border-radius: $radius;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 7px 15px;
  }

  &Playlists {
    background-color: Color.$backgroundLight;
    border-radius: 0 0 $radius $radius;
    max-height: 0;
    overflow: auto;

    &__item {
      cursor: pointer;
      margin: 0 10px;
      padding: 5px 10px;

      &:hover {
        background-color: rgba(black, .4);
      }
    }
  }
  &:hover {
    .Pocket__head {
      border-radius: $radius $radius 0 0;
    }
    .PocketPlaylists {
      max-height: 400px;
    }
  }
}
