@use "../Color";
@use "sass:color";

.Sidebar {
  border-right: 1px solid Color.$border;
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  background-color: Color.$backgroundDarker;

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__collections {
    border-bottom: 1px solid Color.$border;
    flex: 1;
  }

  &__playlists {
    flex: 1;
  }

  &__title {
    color: rgba(white, 0.2);
    font-size: 0.85rem;
    letter-spacing: 0.3px;
    margin: 0;
    font-style: italic;
    padding: 8px 15px 5px;
    text-transform: uppercase;
  }
}
