@use "../Color";
@use "sass:color";

.User {
  position: relative;

  &__avatar {
    $size: 40px;
    border-radius: $size;
    cursor: pointer;
    display: block;
    height: $size;
    width: $size;
  }

  &Menu {
    background-color: color.scale(Color.$background, $lightness: 7%);
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    &__infos {
      padding: 15px;
    }

    &__link {
      color: Color.$font;
      display: block;
      padding: 10px 15px;
    }
  }
}
