@use "sass:color";
@use "../../Color";

.Search {
  position: relative;

  &Box {
    position: relative;

    &__icon {
      color: rgba(163, 214, 241, .303);
      font-size: 1.2rem;
      left: 12px;
      position: absolute;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      z-index: 110;
    }

    &__input {
      background-color: transparent;
      background-image: linear-gradient(45deg, Color.$backgroundLight, transparent);
      border: 0;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      outline: 0;
      padding: 10px 20px 10px 40px;
      position: relative;
      transition: all ease .3s;
      width: 100%;
      z-index: 100;

      &:focus {
        background-image: linear-gradient(45deg, color.scale(Color.$backgroundLight, $lightness: 5%), transparent);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, .3);
      }

      &::placeholder {
        color: rgba(163, 214, 241, .303);
        font-style: italic;
      }
    }
  }

  &Result {
    background: Color.$backgroundLight;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .3);
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
    left: -5px;
    padding-top: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 99;

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__title {
      color: Color.$primary;
      margin: 0;
      padding: 15px 15px 10px;
    }

    &__section {
      padding: 10px;
    }

    &__label {
      color: Color.$font;
      cursor: pointer;
      font-weight: 700;
      margin-left: 15px;
      text-decoration: none;
    }

    &__subLabel {
      margin-left: 15px;
    }

    &__img {
      --size: 45px;
      border-radius: 3px;
      height: var(--size);
      width: var(--size);

      &.artist {
        border-radius: var(--size);
        height: calc(var(--size) + 5px);
        width: calc(var(--size) + 5px);
      }
    }

    &Artist {
      &__item {
        align-items: center;
        border-radius: 3px;
        display: block;
        display: flex;
        padding: 10px 15px;
        text-decoration: none;

        &.track {
          padding: 10px;
        }

        &:hover {
          background: rgba(#000, .2);
          color: #fff;
        }
      }
    }
  }
}
