@use "sass:color";
@use "../Color";

.AlbumPage {
  &__head {
    margin: 0 auto;
    max-width: 1000px;
  }

  &__body {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1000px;
  }

  &__cover {
    border-radius: 5px;
    width: 300px;
  }

  &__tracklist {
    flex: 1;
    padding-left: 40px;
  }

  &Track {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 9px 15px;
    text-align: left;

    &:hover {
      background-color: rgba(black, .2);
    }

    &.active {
      background-color: rgba(Color.$primary, .2);
    }

    &__feat {
      margin-left: 10px;
    }

    &__name {
      color: white;
      font-weight: bold;
    }

    &__left {
      display: flex;
    }

    &__number {
      width: 40px;
    }
  }
}
