.AlbumPage {
  &__head {
    margin: 0 auto;
    max-width: 1000px;
  }

  &__body {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1000px;
  }

  &__cover {
    border-radius: 5px;
    width: 300px;
  }
}
