@use "sass:color";
@use "../Color";

.AlbumPage {
  &__head {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }

  &__title {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1000px;
  }

  &__cover {
    border-radius: 5px;
    width: 300px;
  }

  &__tracklist {
    flex: 1;
    padding-left: 40px;
  }

  &Track {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 9px 15px;
    text-align: left;

    &:hover {
      background-color: rgba(black, .2);
    }

    &.active {
      background-color: rgba(Color.$primary, .2);
    }

    &__name {
      color: white;
      font-weight: bold;
    }

    &__duration {
      text-align: right;
    }

    &__left {
      display: grid;
      gap: 10px;
      grid-template-columns: 25px 1fr 1fr 50px;
      width: 100%;
    }
  }
}
