@use "../Color";
@use "sass:color";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .2;
  }
}

.Artist {
  &__body {
    padding: 20px 30px;
  }

  &Cover {
    animation: fadeIn 1s ease 0s forwards;
    background-image: linear-gradient(to top, transparent, color.adjust(Color.$primary, $hue: 7));
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &__img {
      // animation: fadeIn 2s ease 0s 1 forward both;
      filter: blur(10px);
      height: 100%;
      -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
      mask-image: linear-gradient(to top, transparent 0%, black 100%);
      mix-blend-mode: color-burn;
      mix-blend-mode: hard-light;
      top: 50%;
      transform: translateY(-15%);
      width: 100%;
    }
  }

  &__links {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }

  &__top {
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }

  &__releaseList {
    margin-bottom: 30px;
  }

  &__name {
    margin: 0;
    position: relative;
    z-index: 1;
  }

  &__videos {
    border-left: 1px solid Color.$border;
    width: 300px;
  }

  &Similar {
    &__avatar {
      $size: 30px;
      border-radius: $size;
      height: $size;
      margin-right: 15px;
      width: $size;
    }

    &__item {
      align-items: center;
      color: rgba(255, 255, 255, .8);
      display: flex;
      margin-bottom: 13px;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}

.External {
  &__icon {
    margin-right: 5px;
    position: relative;
    top: 3px;
  }

  &__item {
    color: rgba(255, 255, 255, .3);
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      color: rgba(255, 255, 255, .8);
    }
  }
}

.Video {
  padding: 15px;

  &__channel {
    color: rgba(255, 255, 255, .4);
    font-style: italic;
  }

  &__embed {
    border: 0;
    margin-bottom: 5px;
  }

  &__item {
    background: color.scale(Color.$background, $lightness: 3%);
    border: 1px solid color.scale(Color.$background, $lightness: 7%);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
  }
}
