@use "sass:color";

$background: #152229;
$backgroundLight: color.adjust($background, $lightness: 2%, $hue: 3);
$backgroundDark: color.adjust($background, $lightness: -1%, $hue: 3);
$backgroundDarker: color.adjust($background, $lightness: -3%, $hue: 3);
$primary: #1a9db2;
$secondary: #c03d0a;
$border: darken($background, 5);
$font: rgba(255, 255, 255, .7);

$danger: #b22f2f;
$success: #429b42;
$warning: #be681a;

$dropShadow: 0px 5px 15px rgba(0, 0, 0, .4);
