@use "sass:color";

$background: #16242c;
$backgroundDarker: adjust-hue(darken($background, 1), -2);
$primary: #97c892;
$border: darken($background, 5);
$font: rgba(255, 255, 255, .7);

$danger: #b22f2f;
$success: #429b42;
$warning: #be681a;
